<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title></title>
        <link rel="icon" type="image/x-icon" href="#" />

        <link href="../public/assets/scss/style.css" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="../public/assets/img/logo-plachilko.svg" /></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Signout</a>
                        </li>
                    </ul>
                </div>
                <div id="mobileMenuOpener" class="hide-large">
                    <img src="../public/assets/img/icons/menu.svg" class="img-fluid" />
                </div>
            </div>
        </nav>

        <section id="mobileMenu">
            <div class="container mt-3">
                <div class="row">
                    <div class="top-row d-flex justify-content-between align-items-center mb-5">
                        <img src="../public/assets/img/logo-plachilko.svg" class="img-fluid" />
                        <img src="../public/assets/img/icons/window-close.svg" class="img-fluid" width="32" id="mobileMenuCloser" />
                    </div>
                    <div class="mobile-menu__links d-flex flex-column text-center">
                        <a class="link mb-3" href="javascript:void(0)">Home</a>
                        <a class="link mb-3" href="javascript:void(0)">Groups</a>
                        <a class="link mb-3" href="javascript:void(0)">Profile</a>
                        <a class="link mb-3" href="javascript:void(0)">Signout</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="components">
            <div class="container mt-3">
                <h1>Plachilko elements</h1>
                <hr />

                <!-- Logos -->
                <div class="mb-4">
                    <h2>Logo</h2>
                    <img src="../public/assets/img/logo-plachilko.svg" class="img-fluid" />
                </div>

                <!-- Texts -->
                <div class="mb-4">
                    <div class="title">Dolorem ipsum quia dolor</div>
                    <div class="subtitle">Dolorem ipsum quia dolor</div>
                    <div class="light">Dolorem ipsum quia dolor</div>
                    <div class="primary">Dolorem ipsum quia dolor</div>
                </div>

                <!-- Icons -->
                <div class="mb-4">
                    <h2>Icons</h2>
                    <img src="../public/assets/img/icons/check-bold.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/check.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/close-thick.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/window-close.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/information-outline.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/menu.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/plus.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/currency-eur.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/back-arrow.svg" class="img-fluid" />
                    <img src="../public/assets/img/icons/account.svg" class="img-fluid" />
                </div>

                <!-- Buttons -->
                <div class="mb-4">
                    <h2>Buttons</h2>
                    <a href="javascript:void(0)" class="btn btn-primary btn-text my-1">Lorem ipsum</a>
                    <a href="javascript:void(0)" class="btn btn-dark btn-text my-1">Lorem ipsum</a>
                    <a href="javascript:void(0)" class="btn btn-primary btn-icon my-1">
                        Lorem ipsum
                        <img src="../public/assets/img/icons/check.svg" />
                    </a>
                </div>

                <!-- Inputs -->
                <div class="mb-5">
                    <h2>Inputs</h2>
                    <div class="input-group my-2">
                        <input type="text" class="form-control input input-text" id="" placeholder="Lorem ipsum" />
                    </div>
                    <div class="input-group input-group-icon my-2">
                        <input type="number" class="form-control input input-icon" id="" placeholder="Lorem ipsum" />
                        <img src="../public/assets/img/icons/currency-eur.svg" class="img-fluid" height="20" width="20" />
                    </div>
                    <div class="input-group input-group-label my-2">
                        <input type="text" class="form-control input input-label" id="" placeholder="Lorem ipsum" />
                        <div class="label">Dolorem ipsum quia dolor</div>
                    </div>
                </div>

                <!-- List items -->
                <div class="mb-4">
                    <h2>List items</h2>
                    <div class="list list-group">
                        <div class="list-item">
                            <div class="list-item__title">Lorem ipsum</div>
                            <div class="list-item__details d-flex flex-row justify-content-between">
                                <div class="details-people primary subtitle">5 članov</div>
                                <div class="details-date light subtitle">Aktivno pred 3 urami</div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__title">Lorem ipsum</div>
                            <div class="list-item__details d-flex flex-row justify-content-between">
                                <div class="details-people primary subtitle">5 članov</div>
                                <div class="details-date light subtitle">Aktivno pred 3 urami</div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__title">Lorem ipsum</div>
                            <div class="list-item__details d-flex flex-row justify-content-between">
                                <div class="details-people primary subtitle">5 članov</div>
                                <div class="details-date light subtitle">Aktivno pred 3 urami</div>
                            </div>
                        </div>
                    </div>
                    <div class="list list-invite mt-3">
                        <div class="list-item d-flex flex-row justify-content-between align-items-center">
                            <div>
                                <div class="list-item__title">Lorem ipsum</div>
                                <div class="list-item__desc light subtitle">Pred 3 dnevi</div>
                            </div>
                            <div class="list-item__controls d-flex flex-row">
                                <div class="invite-accept">
                                    <img src="../public/assets/img/icons/check-bold.svg" class="img-fluid" />
                                </div>
                                <div class="invite-divider mx-3"></div>
                                <div class="invite-decline">
                                    <img src="../public/assets/img/icons/close-thick.svg" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list list-transaction mt-3">
                        <div class="list-item d-flex flex-row justify-content-between">
                            <div>
                                <div class="list-item__title">Lorem ipsum</div>
                                <div class="list-item__desc light subtitle">Novo stanje: 400,00 €</div>
                            </div>
                            <img src="../public/assets/img/icons/information-outline.svg" class="img-fluid info" />
                        </div>
                    </div>
                </div>

                <!-- Objects -->
                <div class="mb-4">
                    <h2>Objects</h2>
                    <h5>Breadcrumbs</h5>
                    <a class="breadcrumbs d-flex flex-row mb-3" href="javascript:void(0)">
                        <img src="../public/assets/img/icons/back-arrow.svg" class="img-fluid me-2" />
                        Lorem ipsum
                    </a>
                    <h5>Amount in group</h5>
                    <div class="group-amount">400,00<span class="small">€</span></div>
                    <h5>Users in group</h5>
                    <div class="group-users my-3">
                        <div class="col-3">
                            <div class="user d-flex flex-column justify-content-evenly align-items-center text-center">
                                <img src="../public/assets/img/icons/account.svg" class="img-fluid" height="40" width="40" />
                                <div class="user-username">Janez Novak</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/main.js"></script>
</html>
